.cell {
    flex: 1;
}

/*
.cell:hover {
    background-color: red;
}
*/
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: flex;
    border: 5px solid blue;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin: 100px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.buttonContainer {
    /* Your CSS styles for the button container go here */
    /* For example: */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    column-gap: 20px;
}

button {
    padding: 15px 25px;
    border: none;
    border-radius: 15px;
    background-color: #D3D3D3; /* Grey */
    text-align: center;
    color: black; /*White Text */
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #555;
    color: white;
}